/* General styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#kuri_huang {
    max-width: 25vw;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 0px;
    text-align: center;
}

a {
    text-decoration: underline;
}

a:hover {
    color: black;
}

h1 {
    text-align: center;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.media-icons a {
    margin: 0 10px;
}

.media-icons img {
    width: 45px;
}

.media-icons img:hover {
    transform: scale(1.15);
    transition:0.5s;
}

#cassandra {
    border-radius: 50%;
    max-width: 25vw;
    padding-bottom: 10px;
}

/* Style the book list container */
#bookList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 10%;
}

#bookList p {
    margin: 0;
    padding: 10px;
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ddd; */
    overflow: hidden; /* Ensure the container clears the floated image */
}

#bookList img {
    max-width: 50%;
    /* float: right; */
    /* margin-left: 10px; Space between the text and the image */
    padding: 0 0 5% 0;
}

.book-title {
    display: block; /* Make sure the title starts on a new line */
    /* font-weight: bold; */
    padding: 0 0 5% 0;
}

h2 {
    text-align: center;
}

.clear {
    clear: both;
}

#bookList a {
    text-decoration: underline;
}

#bookList a:hover {
    text-decoration: underline;
}

figure {
    margin: 0;
}

figcaption {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
    font-family: 'Garamond', serif;
}

figcaption {
    color: white;
}

figcaption a {
    text-decoration: underline;
}

figcaption a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    #bookList {
        grid-template-columns: 1fr; /* Change to one column for smaller screens */
    }

    #bookList img {
        max-width: 100%;
    }

    #cassandra {
        max-width: 80%;
    }

    figcaption {
        font-family: 'Garamond', serif; /* this font is used for all text on the website*/
    }
}
